:global {
    .communications-popup {
        max-width: 492px;
        min-width: 350px;
        overflow: overlay;
        margin-top: 10px;
        margin-bottom: 10px;

        .com-text-area {
            margin-top: 20px;

            textArea {
                height: 160px;
                min-height: 50px;
                max-height: 250px;
                min-width: 200px;
                max-width: 100%;
                width: 100%;
                color: rgb(37, 36, 35);
                background: #FAF9F8 0% 0% no-repeat padding-box;
                border: 0.5px solid #E1DFDD;
                border-radius: 3px;
                opacity: 1;
            }

            textArea:focus {
                border: 0.5px solid #BDBDE6;
                border-radius: 3px;
            }
        }

        .com-checkbox-wrapper {
            margin: 10px auto;

            .include-bridge-link-checkbox {
                margin-left: 15px;
            }
        }
    }

    .bridge-confirm-popup {
        max-width: 442px;
        min-width: 300px;
        overflow: overlay;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ui-dialog .ui-icon svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
    }
}

div[class~="active-bridge-wrapper"] {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;

    div[id="active-bridge-path"] {
        width: 100%;
        height: auto;
        max-height: 100vh;

        label {
            margin: 5px auto;
            text-align: center;
            font: normal normal 400 14px/24px Segoe UI;
            color: #33344A;
            opacity: 1;

            span[class="back-label"] {
                font-size: 12px;
                position: relative;
                bottom: 1px;
                margin-left: 1px;
            }

            span[class="go-back"] {
                cursor: pointer;

                span[id="path-back-icon"] {
                    position: relative;
                    bottom: 2px;
                    img, svg {
                        width: 16px;
                    }
                }
            }

            span[class="right-border"] {
                position: relative;
                bottom: 1px;
            }
        }
    }

    div[class="active-bridge-area"] {
        background: #E4E9F5 0% 0% no-repeat padding-box;
        border: 0.25px solid #a3a6b3;
        padding-bottom: 10px;
        opacity: 1;

        div[class="active-bridge-heading"] {
            text-align: left;
            font: normal normal bold 20px/27px Segoe UI;
            letter-spacing: 0px;
            color: #33344A;
            opacity: 1;
            margin: 15px auto;
        }

        div[class~="members-tab-wrapper"] {
            padding-right: 3px;
        }

        div[class~="bridge-tasks-wrapper"] {
            padding-left: 3px;
        }

        @media screen and (max-width:991px) {
            div[class~="members-tab-wrapper"] {
                padding-right: 12px;
            }

            div[class~="bridge-tasks-wrapper"] {
                padding-left: 12px;
            }
        }

        div[class="members-tab"],
        div[class="bridge-tab"],
        div[class="tasks-tab"] {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 4px #0000001A;
            border-radius: 4px;
            opacity: 1;
            margin-bottom: 6px;

            div[class="members-tab-heading"],
            div[class="bridge-tab-heading"],
            div[class="tasks-tab-heading"] {
                text-align: left;
                font: normal normal 600 18px/30px Segoe UI;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                padding: 8px 15px;
                background: #404257 0% 0% no-repeat padding-box;
                border-radius: 4px 4px 0px 0px;
                opacity: 1;

                span[class="tasks-info-icon"] {
                    margin-left: 8px;
                    position: relative;
                    top: 3px;
                    cursor: pointer;

                    i {
                        font-size: 16px;
                    }
                }
            }

            div[class~="bridge-spinner"] {
                justify-content: end;
                padding-right: 30px;
                color: rgb(37, 36, 35);
            }

            div[class~="tasks-spinner"] {
                padding-top: 30px;
                color: rgb(37, 36, 35);
            }

            div[class~="bridge-message-bar"] {
                span[class~="ms-MessageBar-innerText"] {
                    text-align: left;
                    font: normal normal normal 14px/16px Segoe UI;
                    letter-spacing: 0px;
                    color: #33344A;
                    opacity: 1;
                }
            }

            div[class="members"] {
                padding: 5px 5px 15px 0px;
                min-height: 180px;
                max-height: 574px;
                overflow: scroll;

                div[class~="members-grouped-list"] {

                    div[class~="members-grp-header"] {
                        cursor: pointer;
                        display: flex;
                        align-items: baseline;
                        margin-left: 15px;

                        i[class~="flick-left-icon"] {
                            color: #424242;
                        }

                        i[class~="flick-up-icon"] {
                            color: #BDBDBD;
                            position: relative;
                            top: 4px;
                        }


                        div[class~="grp-name"] {
                            text-align: left;
                            font: normal normal normal 16px/30px Segoe UI;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            margin-left: 5px;
                        }
                    }

                    div[class~="member-profile"] {
                        margin: 10px 5px 10px 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 25px;
                        border-left: 5px solid #ffffff;

                        span[class~="lead-label"] {
                            text-align: left;
                            font: italic normal normal 14px/20px Segoe UI;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                        }
                    }

                    div[class~="profile-border-left"] {
                        border-color: #404257;
                    }
                }

                button[class~="add-members-btn"],
                button[class~="announcement-popup-trigger-btn"] {
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    margin-top: 10px;
                }

                button[class~="add-members-btn"] {
                    margin-left: 15px;
                }

                button[class~="announcement-popup-trigger-btn"] {
                    margin-left: 10px;
                }

                @media screen and (max-width:1199px) and (min-width:991px) {
                    button[class~="announcement-popup-trigger-btn"] {
                        margin-left: 15px;
                    }
                }

                @media screen and (max-width:399px) {
                    button[class~="announcement-popup-trigger-btn"] {
                        margin-left: 0px;
                    }
                }

            }

            div[class="bridge-wrapper"] {
                padding: 5px 15px 15px 15px;
                min-height: 90px;
                max-height: 200px;
                overflow: scroll;

                div[class="bridge-container"] {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div[class="bridge-links"] {
                        width: 70%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        div[class="preview-img-wrapper"] {
                            img {
                                width: 64px;
                                height: 64px;
                                margin: auto;
                            }

                            @media screen and (max-width:375pt) {
                                img {
                                    width: 44px;
                                    height: 44px;
                                }
                            }
                        }

                        div[class="links-wrapper"] {
                            width: 80%;
                            margin-left: 15px;
                            margin-top: 10px;

                            div[class="team-group-name"] {
                                text-align: left;
                                font: normal normal normal 16px/21px Segoe UI;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                            }

                            div[class="links"] {
                                margin-top: 10px;

                                button[class~="bridge-edit-link"],
                                button[class~="bridge-history-link"],
                                button[class~="bridge-chat-link"],
                                button[class~="bridge-news-link"] {
                                    justify-content: flex-start;
                                    padding-left: 0;
                                    margin-right: 5px;
                                    min-width: 0;
                                    text-align: left;
                                    font: normal normal 600 14px/19px Segoe UI;
                                    letter-spacing: 0px;
                                    color: #242424;
                                    opacity: 1;

                                    img[class~="bridge-edit-icon"],
                                    img[class~="bridge-chat-icon"] {
                                        width: 22px;
                                        height: 22px;
                                        padding-bottom: 2px;
                                    }

                                    img[class~="bridge-history-icon"] {
                                        width: 19px;
                                        height: 19px;
                                    }

                                    img[class~="bridge-news-icon"] {
                                        width: 26px;
                                        height: 22px;
                                        padding-bottom: 2px;
                                    }
                                }
                            }

                        }
                    }

                    @media screen and (max-width:1059px) {
                        div[class="bridge-links"] {
                            width: 50%;
                        }
                    }

                    div[class="bridge-buttons"] {
                        margin-left: auto;
                        margin-right: 0;

                        div[class~="bridge-toggle-btn"] {
                            justify-content: flex-end;
                            flex-direction: row-reverse;
                            margin-bottom: 10px;

                            div[class~="toggle-btn-label"] {
                                text-align: left;
                                font: normal normal normal 16px/21px Segoe UI;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                            }

                            span[class~="bridge-toggle-Info-Icon"] {
                                margin-left: 10px;
                                position: relative;
                                top: 3px;

                                i {
                                    color: #000000;
                                }
                            }

                            div[class~="ms-Toggle-innerContainer"] {
                                margin-top: 3px;
                                margin-left: 15px;

                                button {
                                    background-color: rgb(98, 100, 167) !important;
                                }

                                button:hover {
                                    background-color: rgb(88, 90, 150) !important;
                                }
                            }
                        }

                        div[class~="bridge-toggle-disabled-btn"] {
                            div[class~="ms-Toggle-innerContainer"] {
                                button {
                                    background-color: #ffffff !important;
                                }

                                button:hover {
                                    background-color: #ffffff !important;
                                }
                            }
                        }

                        button[class~="join-bridge-btn"] {
                            margin-left: 90px;
                        }

                        @media screen and (max-width:1199px) and (min-width:1060px) {
                            div[class~="bridge-toggle-btn"] {
                                display: block;

                                div[class~="ms-Toggle-innerContainer"] {
                                    margin-left: 102px;
                                }
                            }

                            button[class~="join-bridge-btn"] {
                                margin-left: 30px;
                            }
                        }

                        @media screen and (max-width:375pt) {
                            div[class~="bridge-toggle-btn"] {
                                display: block;

                                div[class~="ms-Toggle-innerContainer"] {
                                    margin-left: 102px;
                                }
                            }

                            button[class~="join-bridge-btn"] {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }

            div[class="tasks-wrapper"] {
                min-height: 100px;
                max-height: 427px;
                border-radius: 4px;
                overflow: scroll;

                div[class="no-tasks-created-msg"] {
                    text-align: center;
                    font: normal normal normal 16px/30px Segoe UI;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    margin-top: 10px;
                }

                mgt-tasks {
                     --tasks-new-button-background: rgb(98, 100, 167);
                     --tasks-new-button-hover-background: rgb(88, 90, 150);
                     --tasks-new-button-active-background: rgb(98, 100, 167);
                     --task-new-add-button-background: rgb(98, 100, 167);                     
                    }
            }

            div[class="members"]::-webkit-scrollbar-thumb,
            div[class="members"]::-webkit-scrollbar-thumb:hover,
            div[class="bridge-wrapper"]::-webkit-scrollbar-thumb,
            div[class="bridge-wrapper"]::-webkit-scrollbar-thumb:hover,
            div[class="tasks-wrapper"]::-webkit-scrollbar-thumb,
            div[class="tasks-wrapper"]::-webkit-scrollbar-thumb:hover {
                background-color: #909090 !important;
            }
        }

    }
}

div[class~="disable-active-bridge"] {
    pointer-events: none;
}

div[class="communications"] {
    span[class="textArea-validation-msg"] {
        color: #e12636;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}