:global {
    div.info-callout {
        width: 620px;
        max-width: 90%;
        padding: 20px 24px;
        font-family: 'Segoe UI';

        span.info-title {
            margin-bottom: 12px;
            font-weight: bold;
        }

        span.info-titlebody {
            margin-bottom: 12px;
        }

        span.info-titlelink {
            font-weight: bold;
            color: #6264A7;
        }

        a.info-link {
            display: block;
            margin-bottom: 12px;
        }
    }

    div.message-bar {
        span {
            font: normal normal normal 16px/21px Segoe UI;
        }

        i {
            font-size: 20px;
            margin-top: 1px;
        }

        i[data-icon-name="Clear"] {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .loaderAlign{
        height: 100%;
    }
}

div[class="eoc-header"] {
    width: 100%;
    height: auto;
    max-height: 100vh;
    background: #464775 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 19px 41px;

    img[class="ms-logo"] {
        width: 32px;
        height: 32px;
    }

    span[class="header-text"] {
        text-align: left;
        font: normal normal bold 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    span[class="header-text-preview"] {
        text-align: left;
        font: normal normal normal 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    img[class="header-icon"],
    img[class="feedback-icon"] {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    img[class="feedback-icon"] {
        position: relative;
        bottom: 1px;
    }

}

div[class="sub-header"] {
    opacity: 1;
    background: url('../assets/Images/EocSubheader.svg');
    background-color: #464775;
    height: 69px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 18px;

    div[id="sub-heading"] {
        text-align: left;
        font: normal normal 400 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
}

div[role="tooltip"]>div {
    background-color: white;
    color: black;
}

div[class="loginButton"] {
    margin: 5%;
    text-align: center;
}

//For Mobile View
@media screen and (max-width:375pt) {
    div[class="eoc-header"] {
        padding: 9pt 10pt;

        img[class="ms-logo"] {
            width: 18pt;
            height: 18pt;
        }

        span[class="header-text"] {
            font: normal normal bold 10pt/14pt Segoe UI;
        }
        span[class="header-text-preview"] {
            font: normal normal normal 10pt/14pt Segoe UI;
        }

        img[class="header-icon"],
        img[class="feedback-icon"] {
            width: 12pt;
            height: 11.6pt;
        }

        img[class="feedback-icon"] {
            position: relative;
            bottom: 1px;
        }
    }

    div[class="sub-header"] {
        height: 33.54pt;
        background-position: center right;
        padding-top: 9pt;

        div[id="sub-heading"] {
            font: normal normal bold 12pt/16pt Segoe UI;
        }
    }
}